.player {
  position: fixed;
  padding: 1.5rem;
  left: 0;
  bottom: 0;
  width: 380px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-top-right-radius: 16px;

  iframe {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
  }
}
