$img-width: 150px;

$one-items-width: 460px;
$two-items-width: 680px;
$three-items-width: 860px;
$four-items-width: 1050px;

.wrapper {
  width: 16.7%;
  max-width: $img-width;
  text-align: center;
  margin: calc( (100% - $img-width * 6) / 10 );
  display: flex;
  flex-direction: column;
  align-items: center;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  .cover {
    cursor: pointer;
    height: $img-width;
    width: $img-width;
    border-radius: 2px;
    border: 1px solid #eee;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .artists {
    a {
      margin-right: 10px;
      font-size: 1rem;
      color: #2b2b2b;
      font-weight: 700;
    }
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .name {
    font-size: 1rem;
    font-style: italic;
    color: #2b2b2b;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
  }
  .release {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .075em;
    font-weight: 600;
    color: #b3b3b3;
  }
}

@media screen and (max-width: $four-items-width) and (min-width: $three-items-width) {
  $img-width: 180px;
  .wrapper {
    width: 25%;
    max-width: $img-width;
    margin: calc( (100% - $img-width * 4) / 6 );
    .cover {
      height: $img-width;
      width: $img-width;
    }
  }
}

@media screen and (max-width: $three-items-width) and (min-width: $two-items-width) {
  $img-width: 200px;
  .wrapper {
    width: 33%;
    max-width: $img-width;
    margin: calc( (100% - $img-width * 3) / 4 );
    .cover {
      height: $img-width;
      width: $img-width;
    }
  }
}

@media screen and (max-width: $two-items-width) and (min-width: $one-items-width) {
  $img-width: 200px;
  .wrapper {
    width: 50%;
    max-width: $img-width;
    margin: calc( (100% - $img-width * 2) / 2 );
    .cover {
      height: $img-width;
      width: $img-width;
    }
  }
}

@media screen and (max-width: $one-items-width) {
  $img-width: $one-items-width;
  .wrapper {
    width: 100%;
    max-width: $img-width;
    margin: 0;
    .cover {
      width: 100%;
      padding-bottom: 100%;
      max-width: 100%;
    }
  }
}