@property --colorFrom {
  syntax: '<color>';
  initial-value: rgb(255, 255, 255);
  inherits: false;
}

@property --colorTo {
  syntax: '<color>';
  initial-value: rgb(255, 255, 255);
  inherits: false;
}


.container {
  background: linear-gradient(-70deg, var(--colorFrom), var(--colorTo));
  transition: --colorFrom 1s, --colorTo 1s;
  min-height: 100vh;
  .warning{
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: black;
  .infos {
    margin-bottom: 2rem;
    animation-name: content;
    animation-direction: normal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;
    font-family: Crimson Text,Georgia,serif;
    .title {
      font-size: 2.75rem;
      font-weight: 500;
      letter-spacing: 0.2px;
      -webkit-font-smoothing: subpixel-antialiased;
      line-height: 34px;
    }
    .info {
      font-size: 1rem;
      margin-top: 0.5em;
      color: #00000073;
    }
    .comment {
      margin-top: 2em;
      font-size: 1.1rem;
    }
  }
  .albums {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .albumWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

@keyframes content {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}